.trips_view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trips_view {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto 2em;
}

.trips_view.loading {
    opacity: 0.5;
}

.direction_title_shimmer {
    display: none;
    background-color: var(--background-color);
    width: 300px;
    height: 18px;
    margin: 15px;
    border-radius: 4px;
}

.trip_view_shimmer {
    background-color: var(--background-color);
    width: 960px;
    height: 181px;
    border-radius: 4px;
}

.direction-title {
    display: none;
    line-height: 18px;
    color: var(--color-font);
}

.no-results {
    margin: 0 15px 15px;
    color: var(--secondary-font-color);
}

@media screen and (max-width: 1080px) {

    .trips_view {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .direction_title_shimmer {
        display: block;
    }

    .trip_view_shimmer {
        width: 100%;
    }

    .direction-title {
        display: block;
        margin: 15px;
        width: calc(100% - 30px);
    }
}


