.trips_view_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trips_view {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto 2em;
}

.direction-title {
    display: none;
    color: var(--color-font);
}

.no-results {
    margin: auto;
    color: var(--color-font);
}

.trip_view {
    background: var(--background-color);
    border-radius: var(--main-border-radius);
    display: flex;
    margin: 0 1em;
    max-width: 960px;
    font-weight: 600;
}

.trip_view .trip_view__route_info {
    padding: 24px 32px;
}

.trip_view .trip_view__buy_info {
    padding: 24px;
}

.trip_view .trip_view__route_info {
    display: flex;
    gap: 16px;
}

.trip_view .trip_view__route_info_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    min-width: 240px;
}

.title_from {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.trip_view .trip_view__route_info_item .title {
    color: var(--secondary-font-color);
    font-size: 12px;
    line-height: 16px;
}

.trip_view .trip_view__route_info_item .duration_line {
    height: 4px;
    border-bottom: 1px dashed var(--second-color);
    flex: 1;
    margin-left: 16px;
    display: inline-block;
}

.trip_view .trip_view__route_info_item .time {
    color: var(--color-font);
    font-size: 24px;
    line-height: 32px;
    height: 32px;
}

.trip_view .trip_view__route_info_item .station {
    color: var(--second-color);
    font-size: 16px;
    line-height: 24px;
    height: 24px;
}

.trip_view .trip_view__buy_info {
    border-left: 1px dashed var(--separator-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px
}

.trip_view .trip_view__buy_info .info_for_customer {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: center;
}

.info_for_customer__cost {
    font-size: 24px;
    line-height: 32px;
    color: var(--color-font);
}

.info_for_customer__places {
    color: var(--secondary-font-color);
    font-size: 14px;
    line-height: 16px;
}

.trip_view .trip_view__buy_info .link_button {
    padding: 12px;
    position: relative;
}

.trip_view .trip_view__buy_info .link_button:after {
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url('../../images/external_link_arrow.svg');
    background-size: contain;
    content: '';
    width: 16px;
    height: 16px;
}

@media screen and (max-width: 1080px) {

    .trips_view {
        margin: 0 15px;
        width: calc(100% - 30px);
    }

    .direction-title {
        display: block;
        margin: 15px;
        width: calc(100% - 30px);
    }

    .trip_view {
        border-radius: 4px;
        flex-direction: column;
        margin: 0;
        font-weight: 600;
    }

    .trip_view .trip_view__route_info {
        padding: 15px;
    }

    .trip_view .trip_view__buy_info {
        padding: 15px;
    }

    .trip_view .trip_view__route_info_item {
        min-width: 0;
    }


    .trip_view .trip_view__route_info_item .duration_line {
        display: none;
    }

    .trip_view .trip_view__route_info_item .time {
        font-size: 18px;
        line-height: 24px;
        height: 24px;
    }

    .trip_view .trip_view__route_info_item .station {
        font-size: 14px;
        line-height: 16px;
        height: 16px;
    }

    .trip_view .trip_view__buy_info {
        border: none;
        border-top: 1px dashed var(--separator-color);
        flex-direction: row;
        justify-content: space-between;
    }

    .trip_view .trip_view__buy_info .info_for_customer {
        flex-direction: column;
        justify-content: center;
        gap: 0;
        align-items: flex-start;
    }

    .info_for_customer__cost {
        font-size: 16px;
        line-height: 24px;
    }

    .info_for_customer__places {
        color: var(--secondary-font-color);
        font-size: 12px;
        line-height: 16px;
    }

    .trip_view .trip_view__buy_info .link_button {
        padding: 12px 24px;
        flex: .5;
    }

    .trip_view .trip_view__buy_info .link_button:after {
        width: 12px;
        height: 12px;
    }

    .no-results {
        margin-top: 32px;
    }
}


