.search_button{
    border-radius: 8px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_button_icon {
    width: 16px;
    height: 16px;
    background-image: url("./images/search_icon.svg");
}