/* Main button style */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background-color: var(--main-color);
    color: #fff;

    border: none;
    border-radius: 8px;

    height: 64px;
    padding: 20px;

    transition: all var(--ui-transition-time);
}

.button .button_title {
    font-size: 16px;
    line-height: 24px;
}

.button .icon {
    width: 16px;
    height: 16px;
}

.button:hover {
    background-color: var(--main-color-light);
}

.button:active {
    background-color: var(--main-color-dark);
}

.button.disabled {
    background-color: var(--main-color-disabled);
}

/* Secondary */
.secondary {
    background-color: var(--main-color-secondary);
    color: var(--main-color);
    padding: 12px;
}

.secondary .button_title {
    font-size: 16px;
    line-height: 24px;
}

.secondary .icon {
    width: 12px;
    height: 12px;
}

.secondary:hover {
    background-color: var(--main-color-secondary-hover);
}

.secondary:active {
    background-color: var(--main-color-secondary-active);
}

.secondary.disabled {
    color: var(--ui-disabled-color);
    background-color: var(--main-color-secondary-hover);
}

/* Second color */

.button.second_color {
    color: var(--second-color);
    background-color: #fff;
}

.button.second_color:hover {
    color: var(--second-color-hover);
}

.button.second_color:active {
    color: var(--second-color-dark);
}

.button.second_color.disabled {
    color: var(--ui-disabled-color);
}