:root {
    --main-color: #e45d46;
    --main-color-dark: #d24f39;
    --main-color-light: #e88372;
    --main-color-disabled: #f1cfca;

    --main-color-secondary: #f3e6e4;
    --main-color-secondary-hover: #f4eeed;
    --main-color-secondary-active: #f1dedb;
    --main-color-secondary-disabled: #e5dcdb;

    --second-color: #9295F7;
    --second-color-dark: #7376e7;
    --second-color-light: #a0a2e5;
    --second-color-hover: #ABADF7;
    --second-color-disabled: #DCDDF6;

    --color-font: #181839;
    --secondary-font-color: #bbbbd9;
    --separator-color: #e2e2ef;

    --ui-transition-time: .1s;
    --ui-disabled-background-color: #e0e0e0;
    --ui-disabled-color: #a5a5a5;

    --background-color: #F5F5F6;
    --main-border-radius: 8px;

    --ui-shimmer-color: #f2f2f2;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link {
    color: inherit;
}

.interactive_line {
    cursor: pointer;
    text-decoration: underline;
}